body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.topo{
    height: 30px;
    background-color: #303030;
}

.topoint{
    width: 100%;
    max-width: 1040px;
    height: inherit;
   
    margin: 0 auto;
}

.topoleft{
    width: 50%;
    height: 30px;
    float: left;
    
}

.toporight{
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
    
}

.toporight img{
    width: 26px;
    height: 26px;
    
    margin-right: 3px
}


.topoleft ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.topoleft li{
    height: 30px;
    float: left;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;


}

.topoleft li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}

.topoleft li .ativo{
    color: blue;

}

.topobusca{
    width: 110px;
    height: 23px;
    outline: 0;
    
}

.toporight a{
    float: right;

}

.toporight input{
    float: right;

}


.topo2{
    height: 95px;
    color: black;
    

}

.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: 0 auto;
   
}



.logo{
    width: 230px;
    height: 90px;
    float: left;
   
    margin-top: 5px;

}

.topo2 .banner{
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: rgb(255, 0, 0);

}

.banner img{
    width: 650px;
    height: 80px;
    
}

.logo img{
    border: 0;
    width: 230px;
}




.menu{
    height: 40px;
    background-color: red;
}

.menuint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
   
    margin: 0 auto;
}

.menuint img{
    border: 0;
    width: 10px;
    cursor: pointer;
}


.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li{
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;

}

.menu li:hover .submenu{
    display: block;
}

.menu a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;

}

.submenu{
    width: 150px;
    height: auto;
    background-color: red;
    position: absolute;
    display: none;
}

.submenuitem{
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.submenuitem:hover{
    background-color: rgb(172, 16, 16);
}



.ultimasnoticias{
    height: 50px;
    
}


.ultimasnoticiasint{
    width: 100%;
    max-width: 1040px;
    height: 50px;
    margin: 0 auto;
    


}

.ultnoticias-area{
    height: 28px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.ultnoticias-titulo{
    background-color: #ff0000;
    color: white;
    height: 28px;
    line-height: 28px;

    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;

}

.ultnoticias-noticias{
    color: black;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 10px;
    padding-left: 5px;
}


.containerint{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    background-color: royalblue;
}

.rightside{
    width: 275px;
    min-height: 200px;
    float: right;
    background-color: rgb(105, 88, 88);
    margin-left: 12px;

}

.leftside{
    float: left;
    background-color: #ff0000;
    min-height: 200px;
    width: 753px;
}