body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.topo{
    height: 30px;
    background-color: #303030;
}

.topoint{
    width: 100%;
    max-width: 1040px;
    height: inherit;
   
    margin: 0 auto;
}

.topoleft{
    width: 50%;
    height: 30px;
    float: left;
    
}

.toporight{
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
    
}

.toporight img{
    width: 26px;
    height: 26px;
    
    margin-right: 3px
}


.topoleft ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.topoleft li{
    height: 30px;
    float: left;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;


}

.topoleft li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    cursor: pointer;
}

.topoleft li .ativo{
    color: blue;

}

.topobusca{
    width: 110px;
    height: 23px;
    outline: 0;
    
}

.toporight a{
    float: right;

}

.toporight input{
    float: right;

}