{{>partials/header}}

    <h1>Qual seu nome</h1>

    <form method="GET">

        <input type="text" name="nome" placeholder="Informe seu nome"/> <br/>

        <input type="submit" value="Enviar"/>

    </form>



    {{#name}}

        Bem vindo {{name}} e tem {{idade}} anos

    {{/name}}

{{>partials/footer}}