body {
    margin: 0;
    background-color: #eee;
}

/*

form {
    margin-top: 20px;
    padding: 20px;
    margin: auto;
    background-color: #ddd;
    border-radius: 8px;
    height:150px;
    width: 160px;
}
input {
    padding: 5px;
    font-size: 13px;
    margin-right: 10px;
} */

