.texto{
    width: 200px;
    height: 900px;
    overflow: auto;
    background-color: rgb(218, 171, 171);
    padding: 20px;
    border: 2px solid blue;

}


.scrollbtn{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: blue;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}