:root{
    --cortitulo: #000;
    --fundo: red;
    --texto: gold;
    --fonte: 25px;
}



body{
    background-color: var(--fundo, pink);
    font-size: var(--fonte);
}

h1{
    color: var(--cortitulo);
}

p{
    color: var(--texto);
}

@media (max-width: 450px){
    :root{
        --fonte:15px
    }

}