{{>partials/header}}




    <fieldset>
        
        <legend>Adicionar Novo usuário</legend>

        <form action="/novo-usuario" method="post">
            
            <input type="text" name="firstName" placeholder="Informe seu nome:" id=""> <br>
            <input type="text" name="lastName" placeholder="Informe sue sobrenome:" id=""> <br>
            <input type="email" name="email" placeholder="Informe seu email:" id=""> <br>
            <input type="text" name="age" placeholder="Informe sua idade" id=""> <br>
            <input type="text" name="interests" placeholder="Informe seus interesses" id=""> <br>
            <input type="submit" value="Inserir">
        
        
        </form>
    

    </fieldset>


    {{#users}}

        <li>{{name.firstName}} - {{age}}</li>

    {{/users}}






{{>partials/footer}}