input , a{
    display: block;
}

input[required]{
    background-color: red;
}

input[name="usuario"]{
    padding: 20px;
}

a[href *="google"]{
    color: pink;

}


a[href $= "html"]{
    background-color: yellow;
}

div:empty{
    background-color: red;
}