.verde{
    background-color: green;
}

.vermelho{
    background-color: red;
}

.azul{
    background-color: blue;
}

#exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid black;
}

.btn{
    display: block;
    margin-top: 20px;
}


.preto{
    background-color: black;
    color: white;
}

.verde{
    background-color: aqua;
    color: red;
}